<div class="etiquetas">
    <h1 class="titulo-centrado">Etiquetas</h1>

    <div class="contenedor-busqueda mx-auto">
        <uib-accordion>
            <div uib-accordion-group class="mt-1 acordeon-evaluaciones" is-open="vm.busquedaVisible">
                <uib-accordion-heading>Búsqueda
                    <div class="chevron-container" uib-tooltip="{{ vm.busquedaVisible ? 'Ocultar' : 'Mostrar' }}" tooltip-placement="bottom-left">
                        <span class="chevron down" ng-class="{'up': vm.busquedaVisible}"></span>
                        <span class="chevron down" ng-class="{'up': vm.busquedaVisible}"></span>
                    </div>
                </uib-accordion-heading>

                <form id="busquedaEtiquetasForm" name="busquedaEtiquetasForm" novalidate>
                    <div class="form-group form-row">
                        <label for="procesoBusqueda" class="col-sm-2 col-form-label">Proceso</label>
                        <div class="col-sm-10">
                            <ui-select ng-model="vm.paramsBusqueda.proceso" name="proceso" input-id="procesoBusqueda" ng-animate-children="false">
                                <ui-select-match placeholder="Seleccione o busque un proceso">
                                    <span ng-bind="$select.selected.evento"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="proceso in vm.filtrarProcesos($select.search) track by proceso.id">
                                    <span ng-bind-html="proceso.evento | highlight: $select.search"></span>
                                </ui-select-choices>
                                <ui-select-footer class="text-muted" >
                                    <span ng-show="vm.mostrandoResultadosParcialesProcesos">Demasiados resultados, debe refinar la búsqueda</span>
                                </ui-select-footer>
                            </ui-select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group form-row col-sm">
                            <label for="descripcionBusqueda" class="col-sm-4 col-form-label">Descripción</label>
                            <div class="col-sm-8">
                                <input id="descripcionBusqueda"
                                       name="descripcion"
                                       class="form-control"
                                       type="text"
                                       placeholder="Descripción"
                                       ng-model="vm.paramsBusqueda.descripcion">
                            </div>
                        </div>
                        <div class="form-group form-row col-sm">
                            <label for="estadoBusqueda" class="col-sm-4 col-form-label">Estado</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="estadoBusqueda" name="estado" ng-model="vm.paramsBusqueda.estado"
                                        ng-options="estado for estado in ::vm.estados">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-row contenedor-botones">
                        <button type="button" class="btn btn-primary" ng-click="vm.buscar()" >
                            <span class="icon-search"></span> Buscar
                        </button>
                        <button type="button" class="btn btn-secondary" ng-click="vm.mostrarTodos()">
                            Limpiar
                        </button>
                    </div>
                </form>

            </div>
        </uib-accordion>
    </div>

    <div class="contenedor-tabla mx-auto">
        <button type="button" class="btn btn-primary" ng-click="vm.mostrarModalEtiqueta()">
            <span class="icon-plus"></span> Añadir etiqueta</button>

        <ge-tabla datos="vm.datos" presentacion="vm.presentacion"
                  fn-edicion="vm.editarEtiqueta(entidad)"
                  fn-eliminacion="vm.eliminarEtiqueta(entidad)"
                  campos-excel=":: vm.columnasExcel"></ge-tabla>
    </div>

    <div id="modalEdicionEtiqueta">
    </div>
</div>