<div class="contenedor-mensajes" scroll-glue force-glue>
    <div class="contenedor-loader" ng-if="$ctrl.mostrarLoader">
        <!-- Animación tomada de aquí: https://codepen.io/tomchewitt/pen/yNdQrO?editors=1100 -->
        <div class="loader JS_on mx-auto" >
            <span class="binary"></span>
            <span class="binary"></span>
            <span class="getting-there">Recibiendo datos...</span>
        </div>
    </div>

    <div ng-repeat="mensaje in $ctrl.mensajes track by mensaje.id" id="mensaje{{mensaje.id}}">
        <div class="separador-fecha" ng-if="$ctrl.mostrarSeparadorFecha($index)" ng-bind=":: mensaje.fechaEnvio.display"></div>
        <div class="row no-gutters">
            <div class="mensaje recibido" ng-class=":: {'col-9': !mensaje.enviadoPorUsuarioActivo}">
                <div ng-if=":: !mensaje.enviadoPorUsuarioActivo">
                    <span class="enviado-por" ng-bind=":: mensaje.enviadoPor.display"></span>
                    <p ng-bind=":: mensaje.texto" class="mb-0"></p>
                    <span class="hora" ng-bind=":: mensaje.fechaEnvio.displayHora"></span>
                </div>
            </div>
            <div class="mensaje enviado" ng-class=":: {'col-9': mensaje.enviadoPorUsuarioActivo, 'offset-3': mensaje.enviadoPorUsuarioActivo}">
                <div ng-if=":: mensaje.enviadoPorUsuarioActivo">
                    <p ng-bind=":: mensaje.texto" class="mb-0"></p>
                    <span class="hora" ng-bind=":: mensaje.fechaEnvio.displayHora"></span>
                </div>
            </div>
        </div>
    </div>
</div>