<div id="notificacion-general" class="notificacion-general">
    <h1 class="titulo-centrado">Notificaciones Generales</h1>

    <div class="contenedor-busqueda mx-auto">
        <uib-accordion>
            <div uib-accordion-group class="mt-1 acordeon-evaluaciones" is-open="vm.busquedaVisible">
                <uib-accordion-heading>Búsqueda
                    <div class="chevron-container" uib-tooltip="{{ vm.busquedaVisible ? 'Ocultar' : 'Mostrar' }}"
                         tooltip-placement="bottom-left">
                        <span class="chevron down" ng-class="{'up': vm.busquedaVisible}"></span>
                        <span class="chevron down" ng-class="{'up': vm.busquedaVisible}"></span>
                    </div>
                </uib-accordion-heading>

                <form id="busquedaNotificacionesGeneralesForm" name="busquedaNotificacionesGeneralesForm" novalidate ng-keyup="$event.keyCode == 13 && vm.buscar()">
                    <div class="form-row">
                        <div class="form-group form-row col-sm-9">
                            <label for="mensajeBusqueda" class="col-sm-2 col-form-label">Descripción</label>
                            <div class="col-sm-9">
                                <input id="mensajeBusqueda" name="mensajeBusqueda" class="form-control" type="text"
                                       placeholder="Descripción"
                                       ng-model="vm.paramsBusqueda.mensajeBusqueda"
                                >
                            </div>
                        </div>

                        <div class="d-flex form-group ml-4 mt-1 mb-1" custom-compile="vm.botonActivo">
                        </div>
                    </div>

                    <div class="form-row contenedor-botones">
                        <button type="button" class="btn btn-primary" ng-click="vm.buscar()">
                            <span class="icon-search"></span> Buscar
                        </button>
                        <button type="button" class="btn btn-secondary" ng-click="vm.mostrarTodos(busquedaNotificacionesGeneralesForm)">
                            Limpiar
                        </button>
                    </div>
                </form>
            </div>
        </uib-accordion>
    </div>

    <div class="contenedor-tabla mx-auto">
        <button type="button" class="btn btn-primary" ng-click="vm.mostrarModalNotificacionGeneral()">
            <span class="icon-plus"></span> Añadir notificación</button>

        <ge-tabla datos="vm.datos" presentacion="vm.presentacion"
                  fn-accion="vm.cambiarEstadoNotificacion(entidad)"
                  fn-edicion="vm.editarNotificacionGeneral(entidad)"
                  fn-eliminacion="vm.eliminarNotificacionGeneral(entidad)"
                  fn-cambio-orden="vm.actualizarOrden(orden)">
        </ge-tabla>

        <ul uib-pagination class="justify-content-center"
            items-per-page=":: vm.ITEMS_POR_PAGINA"
            total-items="vm.totalItems"
            previous-text="&lsaquo;" next-text="&rsaquo;"
            boundary-link-numbers="true"
            max-size="5"
            ng-model="vm.paginaActual"
            ng-change=":: vm.actualizarPagina()"
            ng-show="vm.totalItems > vm.ITEMS_POR_PAGINA">
        </ul>
    </div>

    <div id="modalEdicionNotificacionGeneral">
    </div>
</div>