<!-- Este es el modal para crear/editar una autorización -->
<form id="edicionAutorizacionForm" name="edicionAutorizacionForm" ng-submit=":: $modal.editar(edicionAutorizacionForm)">
    <div class="modal-header mantenimiento-maestro">
        <h5 class="modal-title" ng-bind=":: $modal.titulo"></h5>
        <button type="reset" class="close" aria-label="Close" ng-click=":: $modal.cancelar()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body mantenimiento-maestro" modal-async>
        <div class="form-group form-row">
            <label for="flujo" class="col-sm-2 col-form-label">Flujo*</label>
            <div class="col-sm-10">
                <ui-select ng-model="$modal.autorizacion.flujo" name="flujo" input-id="flujo" ng-required="true" ng-disabled="$modal.edicionRestringida" ng-animate-children="false">
                    <ui-select-match placeholder="Seleccione o busque un flujo">
                        <span ng-bind="$select.selected.evento"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="flujo in $modal.filtrarFlujos($select.search) track by flujo.id">
                        <span ng-bind-html="flujo.evento | highlight: $select.search"></span>
                    </ui-select-choices>
                    <ui-select-footer class="text-muted" >
                        <span ng-show="vm.mostrandoResultadosParcialesFlujos">Demasiados resultados, debe refinar la búsqueda</span>
                    </ui-select-footer>
                </ui-select>

                <div class="invalid-feedback" ng-messages="edicionAutorizacionForm.flujo.$error"
                     ng-show="edicionAutorizacionForm.$submitted || edicionAutorizacionForm.flujo.$touched"
                     role="alert">
                    <span ng-message="required">Debe seleccionar un flujo</span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group form-row col-md">
                <label for="nombreEntidad" class="col-sm-4 col-form-label">Nombre*</label>
                <div class="col-sm-8">
                    <input id="nombreEntidad"
                           name="nombre"
                           class="form-control"
                           type="text"
                           placeholder="Nombre"
                           required
                           ng-model="$modal.autorizacion.nombre"
                           ng-class="{'is-invalid': (edicionAutorizacionForm.$submitted || edicionAutorizacionForm.nombre.$touched) && edicionAutorizacionForm.nombre.$invalid}">

                    <div class="invalid-feedback" ng-messages="edicionAutorizacionForm.nombre.$error"
                         role="alert" ng-show="edicionAutorizacionForm.$submitted || edicionAutorizacionForm.nombre.$touched">
                        <span ng-message="required">El nombre es obligatorio</span>
                    </div>
                </div>
            </div>
            <div class="form-group col-md form-row">
                <label for="rol" class="col-sm-4 col-form-label">Rol*</label>
                <div class="col-sm-8">
                    <select class="form-control" id="rol" name="rol" ng-model="$modal.autorizacion.rol"
                            required ng-options="rol.nombre for rol in $modal.roles track by rol.id" ng-disabled="$modal.edicionRestringida"
                            ng-class="{'is-invalid': (edicionAutorizacionForm.$submitted || edicionAutorizacionForm.rol.$touched) && edicionAutorizacionForm.rol.$invalid}">
                    </select>

                    <div class="invalid-feedback" ng-messages="edicionAutorizacionForm.rol.$error"
                         ng-show="edicionAutorizacionForm.$submitted || edicionAutorizacionForm.rol.$touched"
                         role="alert">
                        <span ng-message="required">Debe seleccionar un rol</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md form-row">
                <label for="orden" class="col-sm-4 col-form-label">Orden*</label>
                <div class="col-sm-8">
                    <input id="orden"
                           name="orden"
                           class="form-control"
                           type="number"
                           min="0"
                           step="1"
                           placeholder="0"
                           required
                           ng-model="$modal.autorizacion.orden"
                           ng-disabled="$modal.edicionRestringida"
                           ng-class="{'is-invalid': (edicionAutorizacionForm.$submitted || edicionAutorizacionForm.orden.$touched) && edicionAutorizacionForm.orden.$invalid}">

                    <div class="invalid-feedback" ng-messages="edicionAutorizacionForm.orden.$error"
                         ng-show="edicionAutorizacionForm.$submitted || edicionAutorizacionForm.orden.$touched"
                         role="alert">
                        <span ng-message="required">Debe insertar el orden</span>
                        <span ng-message="min">No puede ser un número negativo</span>
                    </div>
                </div>
            </div>
            <div class="form-group col-md form-row">
                <label for="fechaLimite" class="col-sm-4 col-form-label">Fecha Límite</label>
                <div class="col-sm-8">
                    <selector-fecha clases-extra=""
                                    name="fechaLimite"
                                    placeholder="Fecha"
                                    model="$modal.autorizacion.fechaLimite"></selector-fecha>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer mantenimiento-maestro">
        <div uib-alert class="mb-0" ng-class="'alert-info'" ng-if="$modal.edicionRestringida && !$modal.mostrarErrorDuplicado">
            Algunos campos de esta autorización no son editables porque ya ha sido usada en peticiones.
        </div>
        <div uib-alert class="mb-0" ng-class="'alert-danger'" close=":: $modal.cerrarAlert()" ng-if="$modal.mostrarErrorDuplicado">
            Ya existe otra autorización para este flujo con este mismo orden.
        </div>

        <button class="btn btn-success" type="submit" ng-bind=":: $modal.textoBoton"
                boton-async></button>
    </div>
</form>