@import "~bootswatch/dist/litera/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";


$font-size-base: 1rem;
$input-padding-y: 0.35rem;
$card-spacer-y: 0.65rem;
$chevron-size: 12px;
$input-height: 37.19px;
$accent-color: #17a2b8;