<div class="peticiones">
    <h1 class="titulo-centrado" ng-if=":: vm.autorizador">Central de Autorizaciones</h1>
    <h1 class="titulo-centrado" ng-if=":: !vm.autorizador">Mis Solicitudes</h1>

    <div class="contenedor-busqueda col-xl-9 p-0">
        <uib-accordion>
            <div uib-accordion-group class="mt-1 acordeon-evaluaciones" is-open="vm.busquedaVisible">
                <uib-accordion-heading>Búsqueda
                    <div class="chevron-container" uib-tooltip="{{ vm.busquedaVisible ? 'Ocultar' : 'Mostrar' }}" tooltip-placement="bottom-left">
                        <span class="chevron down" ng-class="{'up': vm.busquedaVisible}"></span>
                        <span class="chevron down" ng-class="{'up': vm.busquedaVisible}"></span>
                    </div>
                </uib-accordion-heading>

                <form id="busquedaPeticionesForm" name="busquedaPeticionesForm" novalidate
                      ng-keyup="$event.keyCode == 13 && vm.buscar()">
                    <div class="form-row">
                        <div class="form-group form-row col-lg">
                            <label for="idBusqueda" class="col-sm-3 col-form-label pr-0">ID</label>
                            <div class="col-sm-9">
                                <input id="idBusqueda"
                                       name="idPeticion"
                                       class="form-control"
                                       type="text"
                                       placeholder="ID"
                                       ng-model="vm.paramsBusqueda.idPeticion">
                            </div>
                        </div>
                        <div class="form-group form-row col-lg align-items-center">
                            <label class="col-sm-3 col-form-label">Estado</label>
                            <div class="col-sm-9 pl-2 fila-estados">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="estado" id="estadoPendiente" ng-value=":: vm.AUTORIZACION_PENDIENTE"
                                           ng-model="vm.paramsBusqueda.pendiente">
                                    <label class="form-check-label" for="estadoPendiente" ng-bind=":: vm.ETIQUETA_PENDIENTE"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="estado" id="estadoAprobado" ng-value=":: vm.AUTORIZACION_APROBADA"
                                           ng-model="vm.paramsBusqueda.aprobada">
                                    <label class="form-check-label" for="estadoAprobado" ng-bind=":: vm.ETIQUETA_OK_DESC"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="estado" id="estadoRechazado" ng-value=":: vm.AUTORIZACION_RECHAZADA"
                                           ng-model="vm.paramsBusqueda.rechazada">
                                    <label class="form-check-label" for="estadoRechazado" ng-bind=":: vm.ETIQUETA_NOK_DESC"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="estado" id="estadoAnulado" ng-value=":: vm.AUTORIZACION_ANULADA"
                                           ng-model="vm.paramsBusqueda.anulada">
                                    <label class="form-check-label" for="estadoAnulado" ng-bind=":: vm.ETIQUETA_ANULADO"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group form-row col-lg">
                            <label for="aplicacionBusqueda" class="col-sm-3 col-form-label">Aplicación</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="aplicacionBusqueda" name="aplicacion" ng-model="vm.paramsBusqueda.aplicacion"
                                        ng-options="aplicacion.nombre for aplicacion in vm.aplicaciones track by aplicacion.id">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-row col-lg">
                            <label for="tipoSolicitudBusqueda" class="col-sm-3 col-form-label">Tipo de Solicitud</label>
                            <div class="col-sm-9">
                                <ui-select ng-model="vm.paramsBusqueda.tipoSolicitud" name="tipoSolicitud" input-id="tipoSolicitudBusqueda" ng-animate-children="false">
                                    <ui-select-match placeholder="Seleccione o busque un tipo">
                                        <span ng-bind="$select.selected.nombre"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="tipoSolicitud in vm.filtrarTiposSolicitud($select.search)">
                                        <span ng-bind-html="tipoSolicitud.nombre | highlight: $select.search"></span>
                                    </ui-select-choices>
                                    <ui-select-footer class="text-muted" >
                                        <span ng-show="vm.mostrandoResultadosParcialesTiposSolicitud">Demasiados resultados, debe refinar la búsqueda</span>
                                    </ui-select-footer>
                                </ui-select>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group form-row col-lg">
                            <label for="fechaInicioBusqueda" class="col-sm-3 col-form-label">Fecha Desde</label>
                            <div class="col-sm-9">
                                <div class="selector-fecha input-group">
                                    <input id="fechaInicioBusqueda"
                                           name="fechaInicial"
                                           class="form-control"
                                           type="text"
                                           placeholder="Fecha"
                                           ng-model="vm.paramsBusqueda.fechaInicial"
                                           ng-model-options="{timezone: 'utc'}"
                                           is-open="vm.popupFechaInicialAbierto"
                                           uib-datepicker-popup="dd/MM/yyyy"
                                           datepicker-options="{showWeeks: false, maxDate: vm.paramsBusqueda.fechaFinal}"
                                           clear-text="Reiniciar"
                                           close-text="Cerrar"
                                           current-text="Hoy"
                                           popup-placement="auto bottom-right">
                                    <div class="input-group-append">
                                        <button class="btn btn-calendario icon-calendar" type="button" ng-click="vm.toggleSelectorFecha('Inicial')"
                                                uib-tooltip="Seleccionar fecha"></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group form-row col-lg">
                            <label for="fechaFinalBusqueda" class="col-sm-3 col-form-label">Fecha Hasta</label>
                            <div class="col-sm-9">
                                <div class="selector-fecha input-group">
                                    <input id="fechaFinalBusqueda"
                                           name="fechaFinal"
                                           class="form-control"
                                           type="text"
                                           placeholder="Fecha"
                                           ng-model="vm.paramsBusqueda.fechaFinal"
                                           ng-model-options="{timezone: 'utc'}"
                                           is-open="vm.popupFechaFinalAbierto"
                                           uib-datepicker-popup="dd/MM/yyyy"
                                           datepicker-options="{showWeeks: false, minDate: vm.paramsBusqueda.fechaInicial}"
                                           clear-text="Reiniciar"
                                           close-text="Cerrar"
                                           current-text="Hoy"
                                           popup-placement="auto bottom-right">
                                    <div class="input-group-append">
                                        <button class="btn btn-calendario icon-calendar" type="button" ng-click="vm.toggleSelectorFecha('Final')"
                                                uib-tooltip="Seleccionar fecha"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row" ng-if=":: vm.autorizador">
                        <div class="form-group col-lg form-row">
                            <label for="solicitanteParaBusqueda" class="col-sm-3 col-form-label">Solicitante</label>
                            <div class="col-sm-9">
                                <ui-select ng-model="vm.paramsBusqueda.solicitante" name="solicitante" input-id="solicitanteParaBusqueda" ng-animate-children="false">
                                    <ui-select-match placeholder="Seleccione o busque una persona">
                                        <span ng-bind="$select.selected.apellidosNombre"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="persona in vm.personas track by persona.codigo"
                                                       refresh="vm.filtrarPersonas($select.search)" refresh-delay="1000">
                                        <span ng-bind-html="persona.apellidosNombre | highlight: $select.search"></span>
                                    </ui-select-choices>
                                    <ui-select-footer class="text-muted" >
                                        <span ng-show="vm.mostrandoResultadosParcialesPersonas">Demasiados resultados, debe refinar la búsqueda</span>
                                        <span ng-show="vm.obteniendoPersonas">Buscando...</span>
                                    </ui-select-footer>
                                </ui-select>
                            </div>
                        </div>

                        <div class="form-group col-lg form-row">
                            <label for="rolBusqueda" class="col-sm-3 col-form-label">Rol</label>
                            <div class="col-sm-9">
                                <ui-select ng-model="vm.paramsBusqueda.rol" name="rol" input-id="rolBusqueda" ng-animate-children="false">
                                    <ui-select-match placeholder="Seleccione o busque un rol">
                                        <span ng-bind="$select.selected.nombre"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="rol in vm.filtrarRoles($select.search) track by rol.id">
                                        <span ng-bind-html="rol.nombre | highlight: $select.search"></span>
                                    </ui-select-choices>
                                    <ui-select-footer class="text-muted" >
                                        <span ng-show="vm.mostrandoResultadosParcialesRoles">Demasiados resultados, debe refinar la búsqueda</span>
                                    </ui-select-footer>
                                </ui-select>
                            </div>
                        </div>
                    </div>

                    <div class="form-row mr-0 contenedor-botones">
                        <button type="button" class="btn btn-primary" ng-click="vm.buscar()">
                            <span class="icon-search"></span> Buscar
                        </button>
                        <button type="button" class="btn btn-secondary" ng-click="vm.mostrarTodos(busquedaPeticionesForm)">
                            Limpiar
                        </button>
                    </div>
                </form>
            </div>
        </uib-accordion>
    </div>

    <div class="contenedor-tabla mx-auto">
        <div class="row">
            <div class="col-xl-9 contenedor-botones flex-column flex-lg-row">
                <div class="d-flex flex-column flex-lg-row justify-content-between">
                    <button type="button" class="btn btn-success mr-0 mr-lg-2" ng-click="vm.aprobarPeticiones()"
                            ng-if=":: vm.autorizador"
                            ng-disabled="vm.peticionesSeleccionadas.length === 0 || vm.procesando">
                        <span class="icon-checkmark"></span> Aprobar Seleccionadas
                    </button>
                    <button type="button" class="btn btn-danger mr-0 mr-lg-2" ng-click="vm.rechazarPeticiones()"
                            ng-if=":: vm.autorizador"
                            ng-disabled="vm.peticionesSeleccionadas.length === 0 || vm.procesando">
                        <span class="icon-cross"></span> Rechazar Seleccionadas
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="vm.actualizarPeticiones()"
                            ng-disabled="vm.procesando">
                        <span class="icon-spinner11"></span> Actualizar
                    </button>
                </div>

                <btn-exportar-excel propiedades=":: vm.columnasExcel"
                                    datos="vm.datosAExportar"
                                    fn-obtencion-datos="vm.obtenerDatosAExportar()"
                                    datos-obtenidos="vm.datosObtenidos"
                                    activar-rango="true">
                </btn-exportar-excel>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-9">
                <div class="d-flex align-items-center mb-3 mb-md-0" ng-if=":: vm.autorizador">
                    <input type="checkbox" id="seleccionarTodo" class="checkbox-visible mr-2 checkbox-seleccionar-todo" ng-model="vm.seleccionarTodos" ng-change="vm.cambiarSeleccion()"
                    uib-tooltip="{{ vm.seleccionarTodos ? 'Limpiar selección' : 'Seleccionar todos' }}">
                    <label class="form-check-label d-block d-md-none" for="seleccionarTodo">
                        Seleccionar todas las filas
                    </label>
                </div>

                <ge-tabla datos="vm.datos" presentacion="vm.presentacion" fila-seleccionada="vm.peticionSeleccionada"
                          fn-seleccion="vm.mostrarInfoPeticion(entidad)"
                          fn-accion="vm.manejarAccion(entidad, accion)"
                          fn-cambio-orden="vm.actualizarOrden(orden)"></ge-tabla>

                <ul uib-pagination
                    class="justify-content-center"
                    items-per-page=":: vm.ITEMS_POR_PAGINA"
                    total-items="vm.totalItems"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-link-numbers="true"
                    max-size="5"
                    ng-model="vm.paginaActual"
                    ng-change=":: vm.actualizarPagina()"
                    ng-show="vm.totalItems > vm.ITEMS_POR_PAGINA"></ul>
            </div>

            <div class="col-xl-3 p-0">
                <div class="card detalles sticky-top">
                    <div class="card-body empty" ng-show="!vm.peticionSeleccionada">
                        <p class="text-muted">Seleccione una petición para ver sus detalles.</p>
                    </div>
                    <div class="card-header" ng-show="vm.peticionSeleccionada.fechaCreacion.valor || vm.peticionSeleccionada.enlaceOrigen">Detalles</div>
                    <div class="card-body" ng-show="vm.peticionSeleccionada.fechaCreacion.valor || vm.peticionSeleccionada.enlaceOrigen">
                        <div class="row" ng-show="vm.peticionSeleccionada.fechaCreacion.valor">
                            <label class="col-5 text-right">Fecha Creación</label>
                            <p class="ml-3" ng-bind="vm.peticionSeleccionada.fechaCreacion.display"></p>
                        </div>
                        <div class="row" ng-show="vm.peticionSeleccionada.enlaceOrigen">
                            <label class="col-5 text-right">Enlace Origen</label>
                            <p class="col-7 contenedor-enlace-origen"><a target="_blank" ng-href="{{ vm.peticionSeleccionada.enlaceOrigen }}" ng-bind="vm.peticionSeleccionada.enlaceOrigen"></a></p>
                        </div>
                    </div>
                    <div class="card-header" ng-show="vm.peticionSeleccionada.peticionQueAnula">Petición que Anula</div>
                    <div class="card-body" ng-if="vm.peticionSeleccionada.peticionQueAnula">
                        <div class="row">
                            <label class="col-5 text-right">ID</label>
                            <p class="col-7"><a ng-href="#/peticion/{{vm.peticionSeleccionada.peticionQueAnula.id}}" ng-bind="vm.peticionSeleccionada.peticionQueAnula.id"></a></p>
                        </div>
                        <div class="row">
                            <label class="col-5 text-right">Solicitante</label>
                            <p class="col-7" ng-bind="vm.obtenerSolicitantePeticionRelacionada(false)"></p>
                        </div>
                        <div ng-if="vm.peticionSeleccionada.peticionQueAnula.informacionExtra">
                            <div class="row" ng-repeat="item in vm.peticionSeleccionada.peticionQueAnula.informacionExtra">
                                <label class="col-5 text-right" ng-bind="item.label"></label>
                                <div class="col-7 contenedor-texto-truncado">
                                    <hm-read-more
                                            hm-text="{{ item.valor }}"
                                            hm-limit="170"
                                            hm-more-text="Leer más"
                                            hm-less-text="Leer menos"
                                            hm-dots-class="dots"
                                            hm-link-class="enlaceLeerMas">
                                    </hm-read-more>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-header" ng-show="vm.peticionSeleccionada.peticionAnulacion">Petición de Anulación</div>
                    <div class="card-body" ng-if="vm.peticionSeleccionada.peticionAnulacion">
                        <div class="row">
                            <label class="col-5 text-right">ID</label>
                            <p class="col-7"><a ng-href="#/peticion/{{vm.peticionSeleccionada.peticionAnulacion.id}}" ng-bind="vm.peticionSeleccionada.peticionAnulacion.id"></a></p>
                        </div>
                        <div class="row">
                            <label class="col-5 text-right">Solicitante</label>
                            <p class="col-7" ng-bind="vm.obtenerSolicitantePeticionRelacionada(true)"></p>
                        </div>
                    </div>
                    <div class="card-header" ng-show="vm.peticionSeleccionada.informacionExtra">Información Extra</div>
                    <div class="card-body" ng-if="vm.peticionSeleccionada.informacionExtra">
                        <div class="row" ng-repeat="item in vm.peticionSeleccionada.informacionExtra">
                            <label class="col-5 text-right" ng-bind="item.label"></label>
                            <div class="col-7 contenedor-texto-truncado">
                                <hm-read-more
                                        hm-text="{{ item.valor }}"
                                        hm-limit="170"
                                        hm-more-text="Leer más"
                                        hm-less-text="Leer menos"
                                        hm-dots-class="dots"
                                        hm-link-class="enlaceLeerMas">
                                </hm-read-more>
                            </div>
                        </div>
                    </div>
                    <div class="card-header" ng-show="vm.peticionSeleccionada">Historial de Autorizaciones</div>
                    <div class="card-body" ng-if="vm.peticionSeleccionada">
                        <ge-tabla datos="vm.historialAutorizaciones"
                                  presentacion="vm.presentacionHistorialAutorizaciones"></ge-tabla>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalConfirmacionAutorizacion"></div>
<div id="modalAdjuntosPeticion"></div>
<div id="modalMensajesPeticion"></div>
<div id="customModalEliminarAdjunto"></div>
<div id="modalCrearNotificacion"></div>

<!-- Este es el modal para la confirmación antes de aprobar o rechazar una o varias peticiones -->
<script type="text/ng-template" id="modalConfirmacionAutorizacion.html">
    <div class="modal-header confirmacion-estado">
        <h5 class="modal-title">Confirmación</h5>
    </div>
    <div class="modal-body confirmacion-estado" modal-async>
        <p ng-if="peticiones.length === 1">
            ¿Está seguro de que desea <strong ng-bind="accion"></strong> esta petición?
        </p>
        <p ng-if="peticiones.length > 1">
            ¿Está seguro de que desea <strong ng-bind="accion"></strong> estas peticiones?
        </p>
    </div>
    <div class="modal-footer confirmacion-eliminar">
        <button class="btn btn-secondary" type="button" ng-click="$dismiss()">No</button>
        <button class="btn btn-primary" type="button" ng-click="actualizarPeticion()" boton-async>Sí</button>
    </div>
</script>