<!-- Este es el modal para crear/editar un proceso -->
<form id="edicionProcesoForm" name="edicionProcesoForm" ng-submit=":: $modal.editar(edicionProcesoForm)">
    <div class="modal-header mantenimiento-maestro">
        <h5 class="modal-title" ng-bind=":: $modal.titulo"></h5>
        <button type="reset" class="close" aria-label="Close" ng-click=":: $modal.cancelar()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body mantenimiento-maestro" modal-async>
        <div class="form-group form-row">
            <label for="nombreEntidad" class="col-sm-3 col-form-label">Evento*</label>
            <div class="col-sm-9">
                <input id="nombreEntidad"
                       name="evento"
                       class="form-control"
                       type="text"
                       placeholder="Evento"
                       required
                       ng-model="$modal.proceso.evento"
                       ng-class="{'is-invalid': (edicionProcesoForm.$submitted || edicionProcesoForm.evento.$touched) && edicionProcesoForm.evento.$invalid}">

                <div class="invalid-feedback" ng-messages="edicionProcesoForm.evento.$error"
                     role="alert" ng-show="edicionProcesoForm.$submitted || edicionProcesoForm.evento.$touched">
                    <span ng-message="required">El evento es obligatorio</span>
                </div>
            </div>
        </div>
        <div class="form-group form-row">
            <label for="aplicacion" class="col-sm-3 col-form-label">Aplicación*</label>
            <div class="col-sm-9">
                <select class="form-control" id="aplicacion" name="aplicacion" ng-model="$modal.proceso.aplicacion"
                        ng-options="aplicacion.nombre for aplicacion in $modal.aplicaciones track by aplicacion.id"
                        required>
                </select>

                <div class="invalid-feedback" ng-messages="edicionProcesoForm.aplicacion.$error"
                     role="alert" ng-show="edicionProcesoForm.$submitted || edicionProcesoForm.aplicacion.$touched">
                    <span ng-message="required">La aplicación es obligatoria</span>
                </div>
            </div>
        </div>
        <div class="form-group form-row">
            <label for="observaciones" class="col-sm-3 col-form-label">Observaciones</label>
            <div class="col-sm-9">
                    <textarea id="observaciones"
                              name="observaciones"
                              class="form-control"
                              rows="3"
                              ng-model="$modal.proceso.observaciones"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer mantenimiento-maestro">
        <button class="btn btn-success" type="submit" ng-bind=":: $modal.textoBoton"
                boton-async></button>
    </div>
</form>