<div class="procesos">
    <h1 class="titulo-centrado">Procesos</h1>

    <div class="contenedor-busqueda mx-auto">
        <uib-accordion>
            <div uib-accordion-group class="mt-1 acordeon-evaluaciones" is-open="vm.busquedaVisible">
                <uib-accordion-heading>Búsqueda
                    <div class="chevron-container" uib-tooltip="{{ vm.busquedaVisible ? 'Ocultar' : 'Mostrar' }}" tooltip-placement="bottom-left">
                        <span class="chevron down" ng-class="{'up': vm.busquedaVisible}"></span>
                        <span class="chevron down" ng-class="{'up': vm.busquedaVisible}"></span>
                    </div>
                </uib-accordion-heading>

                <form id="busquedaProcesosForm" name="busquedaProcesosForm" novalidate
                      ng-keyup="$event.keyCode == 13 && vm.buscar()">
                    <div class="form-row">
                        <div class="form-group form-row col-sm">
                            <label for="nombreBusqueda" class="col-sm-3 col-form-label">Evento</label>
                            <div class="col-sm-9">
                                <input id="nombreBusqueda"
                                       name="evento"
                                       class="form-control"
                                       type="text"
                                       placeholder="Evento"
                                       ng-model="vm.paramsBusqueda.evento">
                            </div>
                        </div>
                        <div class="form-group form-row col-sm">
                            <label for="aplicacionBusqueda" class="col-sm-3 col-form-label">Aplicación</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="aplicacionBusqueda" name="aplicacion" ng-model="vm.paramsBusqueda.aplicacion"
                                        ng-options="aplicacion.nombre for aplicacion in vm.aplicaciones track by aplicacion.id">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-row contenedor-botones">
                        <button type="button" class="btn btn-primary" ng-click="vm.buscar()" >
                            <span class="icon-search"></span> Buscar
                        </button>
                        <button type="button" class="btn btn-secondary" ng-click="vm.mostrarTodos()">
                            Limpiar
                        </button>
                    </div>
                </form>

            </div>
        </uib-accordion>
    </div>

    <div class="contenedor-tabla mx-auto">

        <div class="contenedor-botones">
            <button type="button" class="btn btn-primary" ng-click="vm.mostrarModalProceso()">
                <span class="icon-plus"></span> Añadir proceso</button>

            <btn-exportar-excel propiedades=":: vm.columnasExcel"
                                datos="vm.datosAExportar"></btn-exportar-excel>
        </div>

        <ge-tabla datos="vm.datos" presentacion="vm.presentacion"
                  fn-edicion="vm.editarProceso(entidad)"
                  fn-eliminacion="vm.eliminarProceso(entidad)"
                  fn-accion="vm.cambiarEstado(entidad)"
                  fn-cambio-orden="vm.actualizarOrden(orden)"></ge-tabla>

        <ul uib-pagination
            class="justify-content-center"
            items-per-page=":: vm.ITEMS_POR_PAGINA"
            total-items="vm.totalProcesos"
            previous-text="&lsaquo;" next-text="&rsaquo;"
            boundary-link-numbers="true"
            max-size="5"
            ng-model="vm.paginaActual"
            ng-change=":: vm.actualizarPagina()"
            ng-show="vm.totalProcesos > vm.ITEMS_POR_PAGINA"></ul>
    </div>

    <div id="modalEdicionProceso">
    </div>
</div>