<button class="btn btn-outline-success btn-outline-excel" ng-click=":: $ctrl.mostrarModalExcel()"
        ng-disabled="$ctrl.datos.length === 0">
    <span class="icon-microsoftexcel"></span> Exportar
</button>
<div id="modalExcel"></div>

<script type="text/ng-template" id="exportarExcel.html">
    <form id="nombreExcelForm" name="nombreExcelForm" ng-submit=":: $modal.generarExcel(nombreExcelForm)">
        <div class="modal-header">
            <h5 class="modal-title">Exportar a Excel</h5>
            <button type="reset" class="close" aria-label="Close" ng-click=":: $modal.cancelar()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" modal-async>
            <div uib-alert class="mb-4 alerta-filas" ng-class="'alert-warning'" ng-if="$modal.datos.length > 10 * $modal.ITEMS_POR_PAGINA_EXCEL">
                ADVERTENCIA: Se van a exportar {{ $modal.datos.length }} filas de datos. Esta operación puede tardar varios minutos.
            </div>

            <div class="form-group form-row">
                <label for="nombreExcel" class="col-sm-3 col-form-label">Nombre*</label>
                <div class="col-sm-9">
                    <input id="nombreExcel"
                           name="nombre"
                           class="form-control"
                           type="text"
                           placeholder="Nombre"
                           required
                           ng-pattern=":: $modal.patronNombreArchivo"
                           ng-model="$modal.excel.nombre"
                           ng-class="{'is-invalid': (nombreExcelForm.$submitted || nombreExcelForm.nombre.$touched) && nombreExcelForm.nombre.$invalid}">

                    <div class="invalid-feedback" ng-messages="nombreExcelForm.nombre.$error"
                         role="alert" ng-show="nombreExcelForm.nombre.$touched">
                        <span ng-message="required">El nombre es obligatorio</span>
                        <span ng-message="pattern">Este nombre no es válido para un archivo</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="w-100 mr-3" ng-show="$modal.enProgreso">
                <small class="text-muted">Obteniendo {{$modal.datosObtenidos.total}}/{{$modal.datos.length}} filas</small>
                <div class="progress w-100 mb-0">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{$modal.progresoObtencionDatos}}" aria-valuemin="0" aria-valuemax="100"
                         ng-style="{ 'width': $modal.progresoObtencionDatos + '%' }" style="width: 100%;"></div>
                </div>
            </div>

            <button class="btn btn-success" type="submit" boton-async>Exportar</button>
        </div>
    </form>
</script>