@import "../../../style/variables";

$borde-btn-calendario: $gray-900;
$fondo-btn-otros: $white;
$fondo-btn-cerrar: $red;
$borde-btn-cerrar: #c9302c;
$dia-hoy: $cyan;
$dia-activo: $green;


.selector-fecha {

    .input-group {
        max-width: 230px;
    }

    table {
        margin: 0 10px;
    }

    button {
        &.btn-calendario {
            border-radius: 0 4px 4px 0;
            color: $borde-btn-calendario;
        }

        &:not(.btn-calendario) {
            border-radius: 4px;
            background-color: $fondo-btn-otros;
            color: $borde-btn-calendario;
        }
    }

    .btn {
        &.btn-secondary {
            &.active {
                background-color: $dia-hoy !important;

                span {
                    color: $white !important;
                }
            }

            &.btn-info.active {
                background-color: $dia-activo !important;
            }
        }

        &.uib-datepicker-current {
            background-color: $dia-hoy;
            color: $white;
        }

        &.uib-clear {
            background-color: $secondary;
            color: $white;
            border: none;
        }

        &.uib-close {
            background-color: $fondo-btn-cerrar;
            color: $white;
            border: none;

            &:hover {
                background-color: $borde-btn-cerrar;
            }
        }
    }

    .uib-daypicker:focus {
        outline: none;
    }

}